<!-- healthcare/templates/new_patient.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    <h2>Nouveau patient</h2>
    <div>
        <form method="POST" action="{{ url_for('new_patient') }}">
            <input type="text" placeholder="Firstname" name="firstname" value="{{ request.form.firstname }}">
            <input type="text" placeholder="Lastname" name="lastname" value="{{ request.form.lastname }}">
            <input type="email" placeholder="E-Mail" name="email" value="{{ request.form.email }}">
            <input type="tel" placeholder="Téléphone (06 12 34 56 78)" name="phone" value="{{ request.form.phone }}"
                   pattern="^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$"
                   title="Veuillez entrer un numéro de téléphone valide (ex: 06 12 34 56 78 ou +33 6 12 34 56 78)"
                   required>
            <input type="submit" value="Create">
        </form>
    </div>
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
</main>
{% endblock main %}