<!-- healthcare/templates/patient_health_data.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}

{% block main %}
<main>
    {% if patient.health_data %}
        <h2>Rapport Patient - {{ patient.first_name }} {{ patient.last_name }} - Date du rapport: {{ today.strftime('%d/%m/%Y') }}</h2>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='js/patient_report.js') }}"></script>
        <!-- Ajout du token CSRF -->
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <div class="report-container">
            <div class="chart-container">
                <canvas id="healthChart"></canvas>
            </div>

            <button class="no-print" onclick="window.print()">Imprimer le rapport</button>
            <button class="no-print" onclick="sendEmail('{{ patient.email }}', '{{ patient.first_name }}', '{{ patient.last_name }}')">Envoyer le rapport par mail</button>

        </div>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Aucune rapport de santé connue pour {{ patient.first_name }} {{ patient.last_name }} ✌️</p>
    {% endif %}
</main>
<script>
    // Initialisation du graphique avec les données du patient
    document.addEventListener('DOMContentLoaded', function() {
        initializeHealthChart(
            {{ dates|tojson }},
            {{ weights|tojson }},
            {{ blood_pressure_sys|tojson }},
            {{ blood_pressure_dia|tojson }}
        );
    });
</script>
{% endblock main %}
