<!-- healthcare/templates/patient_health_data.html -->

{% extends 'base.html' %}
{% include './partials/_menu.html' %}
{% import './partials/_macros.html' as macros %}

{% block main %}
<main>
    {% if patient.blood_data %}
    <h2>Analyse sanguine - {{ patient.first_name }} {{ patient.last_name }}</h2>
    <form method="POST" action="{{ url_for('send_blood_reports', patient_id=patient.id) }}">
        <div class="form-actions">
            <button type="submit" class="btn-send-selected">Envoyer la sélection par email</button>
        </div>
        <table class="jobs">
            <thead>
            <tr>
                <th>Sélectionner</th>
                <th>Date</th>
                <th>Hémoglobine</th>
                <th>Hématocrite</th>
                <th>Leucocytes</th>
                <th>Hématies</th>
                <th>Plaquettes</th>
                <th>Créatinine</th>
                <th>Urée</th>
                <th>Glycémie</th>
                <th>Cholestérol Total</th>
                <th>HDL</th>
                <th>LDL</th>
                <th>Triglycérides</th>
                <th>TSH</th>
                <th>PSA</th>
                <th>ALT</th>
                <th>AST</th>
                <th>Fer</th>
                <th>Vitamine D</th>
            </tr>
            </thead>
            <tbody>
            {% for data in patient.blood_data %}
                <tr>
                    <td>
                        <input type="checkbox"
                               name="selected_reports"
                               value="{{ data.id }}"
                               id="report-{{ data.id }}"
                               aria-label="Sélectionner le rapport du {{ data.date_analyse.strftime('%d/%m/%Y') }}">
                    </td>
                    <td>{{ data.date_analyse.strftime('%A %d %B %Y à %Hh%M') }}</td>

                    {% for field in ['hemoglobine', 'hematocrite', 'globules_blancs', 'globules_rouges', 'plaquettes', 'creatinine', 'uree', 'glycemie', 'cholesterol_total', 'hdl', 'ldl', 'triglycerides', 'tsh', 'psa', 'alt', 'ast', 'fer', 'vitamine_d'] %}
                        <td {{ macros.check_threshold(data[field], macros.thresholds[field].min, macros.thresholds[field].max) }}>
                            {{ data[field] }}{% if data[field] is not none %} {{ macros.thresholds[field].unit }}{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    {% else %}
    <p style="font-size: 16px; text-align: center;">Aucune analyse sanguine connue pour {{ patient.first_name }} {{ patient.last_name }} ✌️</p>
    {% endif %}
</main>
{% endblock main %}
