<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f5f5f5;
        }
        .text-danger {
            color: #dc3545 !important;
        }

        .fw-bold {
            font-weight: bold;
        }

        td[title] {
            cursor: help;
        }
    </style>
</head>

{% import './partials/_macros.html' as macros %}

<body>
    <h2>Analyse(s) sanguine(s) - {{ patient.first_name }} {{ patient.last_name }}</h2>
    {% for data in reports|sort(attribute='date_analyse', reverse=true) %}
    <h3>Analyse du {{ data.date_analyse.strftime('%A %d %B %Y à %Hh%M') }}</h3>
    <table>
        <tr>
            <th>Hémoglobine (g/dL)</th>
            {{ macros.display_value(data, 'hemoglobine') }}
        </tr>
        <tr>
            <th>Hématocrite (%)</th>
            {{ macros.display_value(data, 'hematocrite') }}
        </tr>
        <tr>
            <th>Leucocytes (/mm3)</th>
            {{ macros.display_value(data, 'globules_blancs') }}
        </tr>
        <tr>
            <th>Hématies (/mm3)</th>
            {{ macros.display_value(data, 'globules_rouges') }}
        </tr>
        <tr>
            <th>Plaquettes (/mm3)</th>
            {{ macros.display_value(data, 'plaquettes') }}
        </tr>
        <tr>
            <th>Créatinine (mg/L)</th>
            {{ macros.display_value(data, 'creatinine') }}
        </tr>
        <tr>
            <th>Urée (mg/L)</th>
            {{ macros.display_value(data, 'uree') }}
        </tr>
        <tr>
            <th>Glycémie (g/L)</th>
            {{ macros.display_value(data, 'glycemie') }}
        </tr>
        <tr>
            <th>Cholestérol Total (g/L)</th>
            {{ macros.display_value(data, 'cholesterol_total') }}
        </tr>
        <tr>
            <th>HDL (g/L)</th>
            {{ macros.display_value(data, 'hdl') }}
        </tr>
        <tr>
            <th>LDL (g/L)</th>
            {{ macros.display_value(data, 'ldl') }}
        </tr>
        <tr>
            <th>Triglycérides (g/L)</th>
            {{ macros.display_value(data, 'triglycerides') }}
        </tr>
        <tr>
            <th>TSH (mUI/L)</th>
            {{ macros.display_value(data, 'tsh') }}
        </tr>
        <tr>
            <th>PSA (ng/mL)</th>
            {{ macros.display_value(data, 'psa') }}
        </tr>
        <tr>
            <th>ALT (UI/L)</th>
            {{ macros.display_value(data, 'alt') }}
        </tr>
        <tr>
            <th>AST (UI/L)</th>
            {{ macros.display_value(data, 'ast') }}
        </tr>
        <tr>
            <th>Fer (µg/dL)</th>
            {{ macros.display_value(data, 'fer') }}
        </tr>
        <tr>
            <th>Vitamine D (ng/mL)</th>
            {{ macros.display_value(data, 'vitamine_d') }}
        </tr>
    </table>
    {% endfor %}
</body>
</html>
