<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h2>Analyse(s) sanguine(s) - {{ patient.first_name }} {{ patient.last_name }}</h2>
    {% for report in reports %}
    <h3>Analyse du {{ report.date_analyse.strftime('%A %d %B %Y à %Hh%M') }}</h3>
    <table>
        <tr>
            <th>Hémoglobine (g/dL)</th>
            <td>{{ report.hemoglobine }}</td>
        </tr>
        <tr>
            <th>Hématocrite (%)</th>
            <td>{{ report.hematocrite }}</td>
        </tr>
        <tr>
            <th>Leucocytes (/mm3)</th>
            <td>{{ report.globules_blancs }}</td>
        </tr>
        <tr>
            <th>Hématies (/mm3)</th>
            <td>{{ report.globules_rouges }}</td>
        </tr>
        <tr>
            <th>Plaquettes (/mm3)</th>
            <td>{{ report.plaquettes }}</td>
        </tr>
        <tr>
            <th>Créatinine (mg/L)</th>
            <td>{{ report.creatinine }}</td>
        </tr>
        <tr>
            <th>Urée (mg/L)</th>
            <td>{{ report.uree }}</td>
        </tr>
        <tr>
            <th>Glycémie (g/L)</th>
            <td>{{ report.glycemie }}</td>
        </tr>
        <tr>
            <th>Cholestérol Total (g/L)</th>
            <td>{{ report.cholesterol_total }}</td>
        </tr>
        <tr>
            <th>HDL (g/L)</th>
            <td>{{ report.hdl }}</td>
        </tr>
        <tr>
            <th>LDL (g/L)</th>
            <td>{{ report.ldl }}</td>
        </tr>
        <tr>
            <th>Triglycérides (g/L)</th>
            <td>{{ report.triglycerides }}</td>
        </tr>
        <tr>
            <th>TSH (mUI/L)</th>
            <td>{{ report.tsh }}</td>
        </tr>
        <tr>
            <th>PSA (ng/mL)</th>
            <td>{{ report.psa }}</td>
        </tr>
        <tr>
            <th>ALT (UI/L)</th>
            <td>{{ report.alt }}</td>
        </tr>
        <tr>
            <th>AST (UI/L)</th>
            <td>{{ report.ast }}</td>
        </tr>
        <tr>
            <th>Fer (µg/dL)</th>
            <td>{{ report.fer }}</td>
        </tr>
        <tr>
            <th>Vitamine D (ng/mL)</th>
            <td>{{ report.vitamine_d }}</td>
        </tr>
    </table>
    {% endfor %}
</body>
</html>
